@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Lyric

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<div class="mxm-lyrics__content">
    <h1>@Model.Name</h1>
    <h2>@Model.Group_name</h2>
    <h4>@Model.Update_time</h4>
    
    <h3>@Model.Header_Lyric</h3>
    <h3>@Model.Main_Lyric</h3>

</div>
